@font-face {
  font-family: 'spiritendo';
  src: url('fonts/RoSpritendo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@import-normalize;

:root {
  --black: #000000;
  --accent-color: #f9bc60;
  --off-white: #F5EFED;
  --dark-green: #0F3F32;
  --med-green: #058264; 
  --fs-sml: 1.5rem;
  --fs-med: clamp(1rem, 3vw, 2.5rem);
  --fs-xl: clamp(1rem, 5vw, 3rem);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html, body, div {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}



body {
  background-color: var(--black);
  text-align: center;
}

p {
  color: var(--dark-green);
}

h1,
h2,
h3,
h4 {
  color: var(--off-white);
  font-family: 'spiritendo', sans-serif;
}


.face {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.screen-size {
  height: 100vh;
  width: auto;
  position: relative;
}

.red-glow:hover {
  outline: none;
  box-shadow: linear-gradient(red, blue);
}


/* fix the title size on cards*/
.card {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  width: 90%;
  max-width: 700px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align:left;
  min-height: 800px;
}

.card-container {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}


.card-header {
  color: var(--med-green);
  font-size: var(--fs-med);
  /*add linear gradient as color for this*/
  padding: 1rem 1rem 1rem 1rem;
}

.card-content {
  font-size: var(--fs-sml);  
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.med-font {
  font-size: var(--fs-med);
}

.sml-font {
  font-size: var(--fs-sml)
}

.tl-container {
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  width: 100%;
  padding: 15%;
  
}

.tl-line {
  position: absolute;
  border-left: 12px solid 1;
  border-image: linear-gradient(to bottom, red, blue) 1 100%;
  margin-left: -3 px;
}

.tl-item {
  background-color: var(--off-white);
  border-radius: 5%;
  padding: 2.5%;
  height: auto;
  width: 45%;
  margin: 5rem 0 0 0;
  z-index: 15;
}

.tl-content {
  padding: 10%;
}
.no-point {
  pointer-events: none;
}

.tl-item:nth-child(odd) {
  justify-content: start;
  align-self: flex-start;
}

.tl-item:nth-child(even) {
  justify-content: end;
  align-self: flex-end;
}

#title {
  margin: 0;
  padding: 0;
  font-size: var(--fs-xl);
  text-align: center;
  padding-top: 30px;
  height: 100%;

}

#title>h1 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: blue;
  z-index: -10;
}